.content-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px; /* Adjust this value to reduce/increase the space between the containers */
}

.content-row > div {
  flex: 1;
  margin: 0 10px; /* Adjust margin to control spacing on the sides */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
